<!DOCTYPE html>
<html>
<head>
<title>Homework</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Homework</h1>
<p>Forsenkov</p>

<p><a href="http://${ ip_addr }/scripts/check-port.py">Click this to check avaliable port</a></p>

<p><em>Thanks.</em></p>
</body>
</html>
